/* header */
header {
    height: 60px;
    background-color: #06d6a0;
}

/* .cover */
.cover {
    height: 500px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .row */
.row {
    display: flex;
}

.row h2 {
    text-align: center;
}

/* footer */
footer {
    height: 100px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
